@import url("https://fonts.cdnfonts.com/css/digital-numbers");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --primary-background: #373937;
    --secondary-background: #9b969b;
    --primary-container: #3f4242;
    --secondary-container: #ef1d21;
    --text-clock:"Digital Numbers", sans-serif;
    --text-title:"Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, var(--primary-background), var(--secondary-background));
}

.container {
    margin: 100px;
    width: 400px;
    height: 600px;
    background: linear-gradient(125deg, var(--primary-container), var(--secondary-container));
    display: flex;
    align-items: center;
    flex-direction: column;
}

.realtime {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 25px;
}

.date, .hour {
    font-family: var(--text-clock);
    color: white;
}

.alarm {

}

.alarm-set {

}

.alarm-button {
    
}