@import url("https://fonts.cdnfonts.com/css/digital-numbers");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --primary-background: #222222;
    --secondary-background: #1f1f1f;
    --primary-container: #3f4242;
    --secondary-container: #ef1d21;
    --text-clock:"Digital Numbers", sans-serif;
    --text-title:"Poppins", sans-serif;
    --button-background: #1defef;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--secondary-background);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.judul {
    font-family: var(--text-title);
    color:white;
    text-align: center;
    flex: 1;
    margin: 0;
}

header a {
    display: flex;
    flex-direction: row;
    background-color: var(--button-background);
    width: 100px;
    height: 35px;
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--text-title);
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header a.donate {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

body {
    background-color: var(--primary-background);
    font-family: var(--text-clock);
    color: white;
    align-items: center;
}

.container {
    display: flex;
    height: 300px;
    width: 600px;
    padding-top: 20px;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: #3f4242;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.realtime {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 40px;
}

.alarm {
    margin-top: 10px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.alarm-activated {
    display: flex;
    justify-content: space-evenly;
}

.alarm-set {
    width: 100px;
    height: 75px;
    margin: 0 20px 50px 20px;
}

.alarm-set > input {
    width: 200px;
    height: 50px;
    border: 3px solid transparent;
    outline: none;
    background: 
        linear-gradient(var(--primary-container)) padding-box,
        conic-gradient(yellow 0deg, red 90deg, purple 180deg, yellow 360deg) border-box;
    border-radius: 30px;
}

.label-cekbox {
    font-family: var(--text-title);
}

.alarm-button > input {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.reset-btn {
    margin-left: 10px;
    width: 100px;
    height: 40px;
    background-color: var(--button-background);
    font-family: var(--text-title);
    font-size: medium;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.reset-btn:hover {
    background-color: #0ff;
    box-shadow: 0 0 10px white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.alarm-button {
    display: flex;
    justify-content: center;
}

.centang {
    display: none;
}

.custom {
    background-color: #ccc; /* Warna latar belakang saat tidak aktif */
    border-radius: 15px;
    height: 24px;
    width: 50px;
    position: relative;
    transition: background-color 0.2s;
}

.handle {
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 4px;
    transition: transform 0.2s;
}

.centang:checked + .custom {
    background-color: #2196f3;
}

.centang:checked + .custom .handle {
    transform: translateX(25px);
}


/* bagian donasi.html */
.judul-donate {
    margin-top: 60px;
    text-align: center;
    font-family: var(--text-title);
}

.bungkus {
    border: 1px solid rgb(231, 213, 213);
    border-radius: 8px;
    width: 1000px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    box-shadow: 
    0 0 20px rgba(0, 191, 255, 0.7), 
    0 0 40px rgba(0, 191, 255, 0.3);
}

.donasi {
    width: 220px;
    height: 100px;
    text-align: center;
    font-family: var(--text-title);
    border-radius: 8px;
    background-color: var(--primary-container);
    display: inline-block;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}

.donasi:hover {
    box-shadow: 
    0 0 20px rgba(0, 191, 255, 0.7),
    0 0 40px rgba(0, 191, 255, 0.3);
}

.tombol-donate {
    width: 35px;
    height: 35px;
}

.tombol-donate img {
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}

.tombol-donate img:hover {
    transform: scale(1.3);
}