@import url("https://fonts.cdnfonts.com/css/digital-numbers");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --primary-background: #222222;
    --secondary-background: #1f1f1f;
    --primary-container: #3f4242;
    --secondary-container: #ef1d21;
    --text-clock:"Digital Numbers", sans-serif;
    --text-title:"Poppins", sans-serif;
    --button-background: #1defef;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--secondary-background);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.judul {
    font-family: var(--text-title);
    color:white;
    text-align: center;
    flex: 1;
    margin: 0;
}

header a {
    display: flex;
    flex-direction: row;
    background-color: var(--button-background);
    width: 100px;
    height: 35px;
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--text-title);
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header a.donate {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

body {
    background-color: var(--primary-background);
    font-family: var(--text-clock);
    color: white;
    align-items: center;
}

.container {
    height: 200px;
    width: 400px;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3f4242;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.reset-btn {
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--button-background);
    font-family: var(--text-title);
    font-size: medium;
    color: black;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.reset-btn:hover {
    background-color: #0ff;
    box-shadow: 0 0 10px white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

input {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.alarm-button input {
    display: none;
}

.alarm-button {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}

.alarm-button .konten {
    border: 2px solid white;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.alarm-button .konten::before {
    background-color: black;
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    left: 3px;
}

.alarm-button input:checked + .konten {
    background-color: black;
    border: 2px solid white;
}

.alarm-button input:checked+ .konten::before {
    background-color: white;
    transform: translate(65px);
    -webkit-transform: translate(65px);
    -moz-transform: translate(65px);
    -ms-transform: translate(65px);
    -o-transform: translate(65px);
}